<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% include head.html %}
	<title>Philip Lambok's Resume</title>
</head>
<body>
	<div class="container-fluid resume markdown-body bg-light">

		<div class="row">
			<div class="col-md-6 m-auto bg-white px-md-4">
				<div class="row">
					<div class="col-md-12">
						{{ content }}
					</div>
					<div class="col-md-12 d-flex justify-content-between py-3 border-top">
						<a href="/assets/pdf/resume.pdf" target="_blank" class="text-secondary">
							<i class="fas fa-file-pdf"></i> PDF Version
						</a>

						<a href="/" class="text-secondary">Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>